@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
    margin: 0;
    font-family: "Montserrat";
  }

  .container-logo {
    background-color: #494843;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 5px grey;
    align-items: center;
    justify-content: center;
  }

  nav {
    background-color: #080808;
    display: flex;
    justify-content: center;
    gap: 58px;
    height: 48px;
    align-items: center;
  }

  .menu {
    margin: 0;
    padding: 0;
  }

  .menu-item {
    display: inline;
  }

  .menu-item-link {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 30px;
  }

  #pagina-tattoo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 80px 0;
  }

  #titulo-pagina {
    margin-top: 80px;
    color: #ffc107;
    font-weight: 700;
    font-size: 50px;
    margin-left: 50px;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  #banner {
    background-image: url("../images/pexels-jakub-novacek-924824.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 700;
    height: 522px;
    font-size: 70px;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  #imagem-index-topo p {
    margin-top: 0;
    padding: 166px 101px 302px 900px;
    text-align: center;
    width: 400px;
  }
  
  #banner-down {
    background-image: url("../images/image3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 620px;
    padding: 40px;
  }
  
  #banner-down div {
    text-align: justify;
    width: 400px;
    font-weight: 500;
    font-size: 20px;
  }
  #banner-down h2 {
    font-weight: 700;
    font-size: 55px;
    text-align: left;
  }
  
  footer {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
  }

